.footer-background {
    background-image: url(	https://meiracare.com/template/assets/images/footer/01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}