.social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
 .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #a0bcd5;
  }
  .social a i {
    color: #fff;
    font-size: 16px;
    margin: 0 2px;
  }
  .social a:hover {
    background: #1977cc;
  }
  .social a + a {
    margin-left: 8px;
  }